.head{
    background-color: rgb(171, 199, 212);
}

ul{
    list-style-type: none;
    margin-top: 40px;           
    
     display:inline-flex;
     float:right;
}
li{
    
    color:cadetblue;
   

    padding:14px 16px;
    text-decoration:none;
}

.link{
    text-decoration:none;
}

